
nav{
    background-color: black;
}

.nav-link{
    color:white;
}
.nav-link:hover{
    color: black;
    background-color: rgb(13, 113, 170);
}
.navbar{
    margin-top: 0;
    margin-bottom: 0;

}

.content_container{
    display: flex;
}

.display_container{
    text-align: left;
    width : 50%;
    margin-left: 
}

.write{
margin-left: 80px;
margin-top :100px;
width: 45%;
height: 400px;

}
.write textarea{
    resize: none;
    font-size: 20px;
    border-radius: 8px;
}

.button-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.check{
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 80px;
    font-weight: 600;
}
    
.clear{
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 80px;
    font-weight: 600;
    margin-left:10px;
}
.corrections{
    margin-left: 80px;
    margin-top :100px;
    width: 45%;
    height: 400px;
}
.scroll {
    margin:4px, 4px;
    padding:4px;
    width: 500px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    font-size: 20px;
}